<h1>Ejercicio 1</h1>
<h2>Suma y promedio de edad</h2>

<div>
  <label for="">Edad 1: </label>
  <input type="number" min="0" max="100" [(ngModel)]="edadUno"/>
</div>
<br>
<div>
  <label for="">Edad 2: </label>
  <input type="number" min="0" max="100" [(ngModel)]="edadDos"/>
</div>
<br>
<div>
  <button (click)="calcular()">Calcular</button>
</div>
  <br>
<div>
  <label for="">Promedio: {{promedioEdad}}</label>
</div>
  <br>
<div>
  <label for="">Suma: {{sumaEdad}}</label>
</div>
  <br>
<div>
  <button (click)="limpiar()">Limpiar</button>
</div>

<router-outlet />
